html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

main {
  background-color: #242424;
  text-align: center;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #29612c;
}

#startSound {
  display: none;
}
