html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  cursor: pointer;
  height: 100%;
}

main {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 10px 0;
}

#canvasContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 50px); /* Adjust height to leave space for the buttons */
}

button {
  background-color: #2d382d;
  border: none;
  color: rgb(182, 176, 176);
  font-size: 14px;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #29612c;
}

button:active {
  background-color: #1E4620; /* Darker green for pressed state */
}

/*
#startSound {
  display: none;
}
*/

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #7e7e7e;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #4d4d4d;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal button {
  background-color: #2d382d;; /* Green background */
  border: none;
  color: rgb(182, 176, 176);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #29612c;
}

.modal button:active {
  background-color: #1E4620; /* Darker green for pressed state */
}